<section id="header" class="overflow-hidden">
<%= image_tag(@project.images.first.url,class:"img-fluid") %>
<div class="container">
  <h1><%= @project.name %></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Location</th>
        <th>Size</th>
        <th>Completion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @project.team_name %></td>
        <td><%= @project.location %></td>
        <td><%= number_with_delimiter(@project.area)%>  sq ft</td>
        <td><%= @project.completion_date.year %></td>
      </tr>
    </tbody>
  </table>
  <div class="space-50"></div>
  <div class="col-md-10 offset-md-1 text-center">
    <p><%= @project.description %>
  </div>
</div>

</section>
