  <section id="team" class="overflow-hidden slider-banner">
    <div class="main-slider">
      <ul class="slides">
        <li>
          <img src="<%= "https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" %>" alt="" class="img-fluid img-hero">
          <div class="slider-overlay">
            <div class="slider-table">
              <div class="slider-vm">
                <div class="container text-center text-overlay">
                  <h1>Team</h1>
                </div>
              </div>
            </div>
          </div><!--slider overlay end-->
        </li>
      </ul>
    </div>
  </section>

  <div class='space-80'></div>
  <div class='container'>
    <h1 class='text-center section-title'>
      Where ideas are born
    </h1>
    <div class="row margin-b-40">
      <div class="col-sm-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur semper pellentesque. Pellentesque auctor dui a lectus consectetur vestibulum. Donec mollis orci sed tellus suscipit iaculis sed et libero. Nulla eros orci, faucibus vehicula sagittis vel, commodo id est. Vivamus eget congue diam. Morbi sed gravida lacus. Vivamus eu augue vehicula leo fringilla venenatis vitae at velit. Etiam id facilisis mauris. Nam pellentesque velit urna, a finibus tellus cursus eget. Proin ac egestas erat, sit amet feugiat lectus.
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          Morbi est ante, tincidunt sed enim quis, molestie aliquet felis. Phasellus efficitur vestibulum neque at interdum. Donec sit amet nulla mauris. Maecenas posuere ac leo eget porttitor. Pellentesque suscipit efficitur orci ac iaculis. Aenean scelerisque laoreet dictum. Vivamus magna diam, pharetra a convallis vel, dictum eu purus. Aliquam erat volutpat. Etiam maximus ex dolor. Morbi mollis maximus tortor nec euismod. Duis a quam leo. Aenean scelerisque elit ac neque convallis interdum. Sed vel lacus libero. Quisque luctus ligula sapien, non luctus turpis varius a.
        </p>
      </div>
    </div>
    <div class="row">
      <% @team_members.each do |person| %>
      <div class="col-md-4 margin-b-30">
        <a href="/team/<%= person.id %>">
        <div class="person-col">
            <img src="<%= person.primary_image %>" class="img-fluid">
          <div class="person-overlay">
            <div class="person-inner">
              <h4 class="text-uppercase"><%= person.first_name + " " + person.last_name %></h4>
              <span><%= person.role %></span>
            </div>
          </div><!--person overlay end-->
        </div><!--person col end-->
        </a>
      </div><!--col-->
      <% end %>
    </div><!--row-->

  </div>
