<!DOCTYPE html>
<html>
  <head>
    <title>ForefrontWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll">
    <%= yield :navbar %>
    <%= yield %>
    <%= render partial: "partials/footer" %>
  </body>
</html>
